:root{
    --cor-fundo-calc: yellow;
    --cor-letra-calc: black;
    --cor-fundo-button: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 180, 180);
}

h1{
    text-align: center;
    margin: 5px;
}

section{
    background-color: var(--cor-fundo-calc);
    color: var(--cor-letra-calc);
    width: 400px;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}

.camp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    height: 2em;
    width: 100px;
    text-align: center;
    font-weight: bold;
}

input#pes{
    margin-left: 115px;
}

input#alt{
    margin-left: 100px;
}

.but{
    text-align: center;
}

button{
    width: 340px;
    background-color: var(--cor-fundo-button);
    color: var(--cor-fundo-calc);
    font-size: 1.2em;
}

button:hover{
    cursor: pointer;
}

div#res{
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

footer{
    font-style: italic;
    text-align: center;
}