*{
    padding: 0px;
    margin: 0px;
}

body{
    font: normal 1em arial;
}

header{
    text-align: center;
    padding: 10px;
}

main{
    background-color: lightgray;
    width: 600px;
    margin: auto;
    display: flex;
    padding: 15px;
    border: 2px solid black;
}

section.visor{
    border: 1px solid black;
    width: 600px;
    height: 300px;
    margin-right: 10px;
    text-align: center;
    background-color: white;
    display: inline-block;
}

#alg1{
    border: 1px solid black;
    margin: 15px;
    height: 200px;
    width: 110px;
}

#alg2{
    border: 1px solid black;
    margin: 15px;
    height: 200px;
    width: 110px;
    display: inline-flex;

    position: relative;

    top: -77.5%;
    left: 26%;
}

#nome{
    border: 1px solid black;
    margin: 15px;
    padding: 10px;
    position: relative;

    top: -83%;
}

.teclado{
    width: 600px;
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
}

.numero{
    background-color: black;
    color: white;
}

.numero:hover{
    background-color: white;
    color: black;

}

#zero{
    background-color: lightgray;
    border: none;
}

#branco{
    background-color: white;
    font-weight: bold;
    width: 65px;
    border: 1px solid black;
}

#cancela{
    background-color: red;
    font-weight: bold;
    width: 65px;
    border: 1px solid black;
}

#confirma{
    background-color: green;
    font-weight: bold;
    width: 70px;
    border: 1px solid black;
}

footer{
    text-align: center;
    padding-top: 10px;
    font: 500 1.2em Arial;
    font-style: italic;
}