*{
    padding: 0px;
    margin: 0px;
}

body{
    font: normal 1em arial;
}

header{
    text-align: center;
}

main{
    background-color: lightgray;
    width: 600px;
    margin: auto;
    display: flex;
    padding: 10px;
}

section.visor{
    border: 1px solid black;
    width: 600px;
    height: 300px;
    margin-right: 10px;
    text-align: center;
    background-color: white;
}

.num{
    width: 600px;
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
}

#zero{
    background-color: lightgray;
    border: none;
}

#branco{
    background-color: white;
    font-weight: bold;
    width: 65px;
    border: 1px solid black;
}

#cancela{
    background-color: red;
    font-weight: bold;
    width: 65px;
    border: 1px solid black;
}

#confirma{
    background-color: green;
    font-weight: bold;
    width: 70px;
    border: 1px solid black;
}