h1, h2{
    color: lightgray;
}

.input_area{
    display: flex;
    align-items: center;
    
}

.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    height: 3em;
    width: 100%;
}